<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "co.photoalbu.phonegap"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Photo Album</name>

    <description>
        Es la hora de llenar albums de objetos de la vida real. 
    </description>
    <preference name="fullscreen" value="false" />
    <author href="https://www.vlaguzman.com" email="guzman.vla@gmail.com">
        Vladimir Guzmán Mendoza
    </author>

    <icon src="img/logo-1024.png" gap:role="default" />

</widget>